.content {
  max-width: 1280px;
  min-width: 300px;
  margin: auto;
}

.content__place {
  margin: 0 11% 80px;
}

.content__place:last-of-type {
  margin-bottom: 0;
}

.content__photo-grid {
  margin: 0 auto 60px auto;
}

.content__lead {
  margin: 90px 148px 0;
}

.content__intro {
  margin: 92px 347px 118px 148px;
}

.content__cover {
  margin: 92px auto;
}

@media screen and (max-width: 1279px) {
  .content__intro {
    margin: 92px 11.5625% 118px 11.5625%;
  }
}

@media screen and (max-width: 768px) {
  .content__place {
    margin: 0 24px 72px 24px;
  }

  .content__photo-grid {
    margin-bottom: 88px;
  }

  .content__lead {
    margin: 90px 0 0;
  }

  .content__intro {
    margin: 88px 24px 90px;
  }

  .content__cover {
    margin: 92px 0;
  }
}

@media screen and (max-width: 320px) {
  .content__place {
    margin: 0 0 50px 0;
  }

  .content__photo-grid {
    margin-bottom: 62px;
    row-gap: 12px;
  }

  .content__lead {
    margin: 50.15px 0 0;
  }

  .content__intro {
    margin: 64px 16px 90px;
  }

  .content__cover {
    margin: 64px 0;
  }
}
