.header {
  display: flex;
  margin: 0;
}

.header__logo {
  margin: 34px auto 0;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: 20px auto 0;
    max-width: 200px;
    max-height: 51.85px;
  }
}
