.place {
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
}

.place__website-url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  text-decoration: none;
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 0.12em;
  margin-bottom: 8px;
  margin-top: 0;
}

.place__website-artist {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
  grid-area: artist;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__title {
  max-width: 460px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin-top: 32px;
  margin-bottom: 0;
  grid-area: title;
}

.place__paragraphs {
  grid-area: description;
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0 0 25px 0;
  padding: 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.place__image {
  max-width: 460px;
  max-height: 460px;
  object-fit: cover;
  grid-area: image;
}

.place__container {
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 460px auto;
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title artist"
    "image description"
    "button description";
}

.place__button {
  grid-area: button;
}

@media screen and (max-width: 1279px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }

  .place__image {
    max-width: 340px;
    width: 100%;
    height: 100%;
  }

  .place__container {
    column-gap: 30px;
    row-gap: 34px;
    grid-template-columns: 340px auto;
    grid-template-rows: auto 340px auto;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 650px) {
  .place__container {
    row-gap: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
    align-items: center;
  }

  .place__website {
    grid-area: artist;
  }

  .place {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin-left: 16px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    margin: 0 16px;
    grid-area: title;
  }

  .place__paragraph {
    margin: 0 16px 25px 16px;
  }

  .place__image {
    max-width: 320px;
  }

  .place__paragraphs {
    grid-row: 4;
    grid-column: 1;
  }

  .place__container {
    grid-template-columns: 320px;
  }

  .place__container:not(:first-child) {
    margin-top: 20px;
  }
}
